python-dotenv>=1.0.1
torch>=2.1.0
numpy>=1.26.0
sentence-transformers>=2.7.0
transformers>=4.41.0
llama-index>=0.10.59
llama-index-embeddings-huggingface>=0.2.3
llama-index-llms-ollama>=0.1.4
llama-index-readers-web>=0.1.13
llama-index-vector-stores-chroma>=0.1.10
chromadb>=0.5.3
openai>=1.40.0
mteb>=1.14.15
flagembedding>=1.2.10
pandas>=2.2.0
tqdm>=4.66.0

